<!DOCTYPE html>
<html lang="en">
<body>
{% include "header.html" %}
<p>
  <div class="head">
    <div class="container1" id="delicious-desserts">
      <h2> Delicious Deserts </h2>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Ingredients</th>
            <th scope="col">Method</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">No Bake S'mores Pie</th>
            <td>
              <ul>
              <li>1 1/2 cups graham cracker crumbs</li>
              <li>1/4 cup malted milk powder</li>
              <li>2 tablespoons granulated sugar</li>
              <li>3/4 teaspoon kosher salt</li>
              <li>1/4 cup unsalted butter, melted</li>
              <li>1/4 cup heavy cream</li>
              <li>8 ounces bittersweet chocolate, finely choppe</li>
              <li>1/3 cup heavy cream</li>
              <li>1 1/2 teaspoons light corn syrup</li>
              <li>2 1/2 tablespoons unsalted butter</li>
              <li>1 bag marshmallows</li>
            </ul>
          </td>
            <td>
              <ol>
              <li>Make the Graham Cracker Crust: In a large bowl, whisk together the graham cracker crumbs, malted milk powder, sugar and salt. In a measuring cup, whisk together the melted butter and heavy cream, then pour over the crumb mixture. Using a rubber spatula, fold and mix and the ingredients together until all of the dry ingredients are evenly moistened. Turn the mixture out into a 9-inch pie plate and press evenly along the bottom and up the sides of the pan. Refrigerate while the chocolate filling is prepared.</li>
              <li>Make the Chocolate Filling: Place the chopped chocolate in a medium bowl. Combine the heavy cream and corn syrup in a small saucepan and place over medium heat. Warm the mixture until it is just barely boiling. Remove from the heat and pour over the chopped chocolate. Let sit for 1 minutes, then gently begin stirring with a rubber spatula (starting in the middle and working your way out), mixing until all of the chocolate is melted and combined. Add the butter and stir until melted and incorporated. (If the mixture cools down too much to totally melt the chocolate or butter, microwave in 10-second increments on 50% power, stirring until everything is completely melted together.)</li>
              <li>Pour the chocolate mixture into the chilled pie crust and spread into an even layer. Gently press the marshmallows into the chocolate filling, covering the top of the pie with marshmallows. Chill the pie briefly (30 minutes to 1 hour) to allow the chocolate the set. When ready to serve, use a kitchen torch to toast the marshmallows. The pie can be kept at room temperature as long as it’s not warmer than about 72 degrees. If your kitchen is warmer than that, then I would refrigerate the pie so the chocolate filling doesn’t melt.</li>
              </ol>
          </td>
            <td> <img src = {{ url_for('static', filename = 'images/smores-pie-34-600.jpeg')}} width="400px"> </td>
          </tr>
          <tr>
            <th scope="row">Gooey Pecan Pie Biscuits</th>
            <td>
              <ul>
              <li>1 pound of biscuit dough</li>
              <li>2 cups of pecan pie filling</li>
              <li>1/2 cup of melted unsalted butter</li>
            </ul>
          </td>
            <td>
              <ol>
                <li>Cut the biscuit dough into 16 equal pieces, then roll the dough into balls and put them in a large bowl</li>
                <li>Toss with the pecan pie filling and melted butter.</li>
                <li>Scopp everything into a medium ovenproof skillet and bake at 350F for 22 to 27 minutes, until the biscuits are cooked through. Serve hot.</li>
              </ol>
            </td>
            <td><img src = {{ url_for('static', filename = 'images/pecanpie.jpeg')}} width="400px"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



</p>
</body>
</html>
