<!DOCTYPE html>

<html lang=>

<!--<head>

  <title>EAT MY DIET! </title>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="student-recipes.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta charset="utf-8">

</head> -->

<body>
  {% include "header.html" %}
  <div class="container3">


      <form action="/feedback" method="post">
          <label for="name">Name: </label>
          <input type="text" name="name" id="name">

          <label for="email">Email: </label>
          <input type="email" name="email" id="email">

          <input type="submit" value="Send!">
      </form>

</div>

    <div class="head">
      <div class="container5">
        <h1> Fun & Delicious Recipes! </h1>
      </div>
    </div>


  <script src="java.js"></script>
</body>
